@import "tailwindcss";
html {
  background: #ffffff;
}

html.dark {
  background: #020617;
}
/* =========================
    THEME VARIABLES
========================= */
:root {
  --bg: #ffffff;
  --text: #0f172a;
  --card: #ffffff;
  --primary: #ffffff;
  --primary-hover: #2563eb;
  --border: #e2e8f0;
}

.dark {
  --bg: #020617;
  --text: #e2e8f0;
  --card: #0f172a;
  --primary: #ffffff;
  --primary-hover: #059669;
  --border: #1e293b;
}

/* =========================
    BASE
========================= */
html, body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

/* =========================
    CARD
========================= */
.card {
  background: var(--card);
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--border);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* =========================
    BUTTON
========================= */
.btn-primary {
  background: emerald-green-500;
  color: white;
  border-radius: 12px;
  padding: 10px 18px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: var(--primary-hover);
  transform: scale(1.05);
}